<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>clean-architecture-spotify.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>45ED5C761E073C4000308D89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45ED5C8A1E073C4100308D89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45ED5C951E073C4100308D89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
